.idea
*.exe
*.DS_Store
cmd/center/center
cmd/config/config
cmd/gateway/gateway
cmd/list/list
cmd/logger/logger
cmd/login/login
cmd/property/property
cmd/robot/robot
cmd/room/room
cmd/table/table
examples/
cmd/gateway/log/
cmd/logger/log/
cmd/login/log/
cmd/config/log/
